#boton-subir {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 2.8em;
  color: #002979;
  display: none;
  font-size: 0.8em;
  font-family: Verdana, Geneva, sans-serif;
  padding: 0.5em 1em 0.5em 1em;
  position: fixed;
  right: 2em;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #002979;
  border-radius: 3px;
  z-index: 3; }
  #boton-subir::before {
    content: " ";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background-color: white;
    border: 1px solid;
    border-color: #002979 transparent transparent #002979;
    width: 16px;
    height: 16px;
    top: -8.5px;
    text-align: center; }
  @media all and (min-width: 980px) {
    #boton-subir {
      bottom: 2em; } }
  #boton-subir:hover {
    background-color: #FED900; }
    #boton-subir:hover::before {
      background-color: #FED900; }
