// PALETA DE COLOR, cree su paleta de color
	$color1		: #002979; //azul
	$color2		: #FED900; //amarillo
	$color3		: #0A8C70; //oliva
	$color4		: #5E606E; //gris 
	$color5		: #4D4D4D; //gris mas oscuro
	$color6		: #E8E8E8; //gris claro

// boton subir
#boton-subir {
	background-color: rgba(white, 0.8);
	bottom: 2.8em;
	color: $color1;
	display: none;
	font-size: 0.8em;
	font-family: Verdana, Geneva, sans-serif;
	// padding: 0.8em 1em;
	padding: 0.5em 1em 0.5em 1em;
	
	position: fixed;
	right: 2em;
	text-decoration: none;
	box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.3);
	border:1px solid $color1;
	border-radius:3px;
	z-index: 3;

	&::before
	{
		content: " ";
		transform: rotate(45deg);
		position: absolute;
		background-color: white;
		border: 1px solid;
		border-color: $color1 transparent  transparent $color1 ;
		width: 16px;
		height: 16px;
		top:-8.5px;
		// right: 0;
		// margin-right: 0.5em;
		text-align: center;
	}

	@media all and (min-width: 980px)
	{
		// padding:1em;
		bottom: 2em;
	}

	&:hover {
		background-color: $color2;
		// color: $color1;
		&::before {
			background-color: $color2;

		}
	}
}
